style
title {color-scheme: #b25542;
width: fit-content;}
h1 { color: #b25542;
    background-color: #000205;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0lvh;
    margin-right: 0%;
    width: fit-content;
}
h2 {color: #b25542;
background-color: #000205;
font-family: Arial, Helvetica, sans-serif;
margin: 0cqmax;width: fit-content; 
}
p {
    color: #b25542;
    background-color: #000205;

  }
  ul {color: #b25542;
background-color: #000205(220, 60%, 2%);
width: fit-content;}
div {width: fit-content;
height: max-content;
background-color: rgb(0, 0, 8);
border: 1px;
padding: 0vi ;
margin: 0cqmax;}

  